:root {
  --color-primary-text: #121417;
  --color-secondary-text: rgba(18, 20, 23, 0.5);
  --color-primary-accent: #3470ff;
  --color-secondary-accent: #0b44cd;
  --color-secondary-input: #f7f7fb;
  --color-secondary-white: #ffffff;
  --main-font: "Manrope", sans-serif;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  padding: 0;
  margin: 0;
}

a,
button {
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

.hidden-element {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* MOBILE */

.container {
  width: 320px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

/* TABLET */
@media screen and (min-width: 834px) {
  .container {
    width: 834px;
    padding-left: 27px;
    padding-right: 27px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* DESKTOP */
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding-left: 34px;
    padding-right: 34px;
    margin-left: auto;
    margin-right: auto;
  }
}
